//背景颜色
.bg007dff{
 background-color:$color-007dff;
}
//字体颜色
.ft000000{
 color:$color-000000;
}
.ft999999{
 color:$color-999999;
}
.ft007dff{
 color:$color-007dff;
}
.ftf56c6c{
 color:$color-ff0000;
}
//边框颜色
.bdff0000{
 border-color:$color-ff0000;
}
//按钮颜色


